swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
    height: 100vh;
}

swiper-slide {
    display: flex;
    position: relative;

    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 18px;

    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.onboard-cont {
    width: 100%;
    height: 100vh;
    padding: 0px;
}

// dark mode




.onboard-cont img {
    width: 100%;
    height: 70%;
    border-radius: 50%;

}

.onboard-cont .content {
    width: 100%;
    height: 30%;
    background-color: inherit;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    box-shadow: 0px 0px 2px #ccc;
}

.content {
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    box-shadow: 0px 0px 2px #ccc;
}

@media screen and (prefers-color-scheme: dark) {
    .content {
        box-shadow: 0px 0px 5px #dd1818 !important;
    }
}





.footer-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    box-shadow: none !important;
}


.footer {
    background-color: transparent !important;
}

.grad-1 {
    margin: 0px 3px;
}


.grad-2 {
    color: #dd1818;
}