<!-- create sliding onboarding slider -->


<ion-content>

    <!--Brand Logo  -->

    <!-- <div class="brand-logo">
        <img src="assets/logo.png" alt="">
    </div> -->

    <swiper-container pager="true" autoplay [pagination]="true" [loop]="false" (slidechange)="onSlideChange()" #swiper>
        <swiper-slide>
            <div class="onboard-cont">
                <img src="assets/images/wedding.jpg" alt="">

                <p>
                    Love is the most important ingredient, so cook with your love.
                </p>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="onboard-cont">
                <img src="assets/images/wedding2.jpg" alt="">
                <p>
                    Do not live with your love, live for your love.
                </p>
            </div>

        </swiper-slide>
        <swiper-slide>

            <div class="onboard-cont">
                <img src="assets/images/wedding3.jpg" alt="">
                <p>
                    Walk with your love, walk for your love.
                </p>

                <ion-button class="skip-btn" (click)="start()">
                    Get Started
                </ion-button>
            </div>


        </swiper-slide>
    </swiper-container>


</ion-content>

<ion-footer fill="clear">
    <!-- slider next and skip button -->

    <div class="footer-btn">
        <ion-button fill="clear" class="skip-btn" (click)="start()">
            Skip
        </ion-button>
        <ion-button fill="clear" class="next-btn" (click)="continue()">
            Next <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-button>
    </div>
</ion-footer>