<ion-content [fullscreen]="true">
  <div class="content">
    <div class="my-profile">
      <div class="my-profile-content">
        Upgrade to Premium
      </div>
    </div>
    <div class="curved-div">
      <div class="scrollable-content">

        <!-- plan cards -->
        <div class="scroller-container">
          <ion-card class="card1" *ngFor="let plan of allPlans">


              <div class="ion-text-center" style="background-color: #FFD700; height: 25.33px; font-weight: 600; font-size: 12px; padding-top: 6px;">{{plan.cardHead}}</div>
              <div style="height: 100%;" class="ion-padding">
                <div class="ion-text-center">
                  <div class="plan-name">{{plan.planName}}</div>
                  <div class="plan-rate">&#8377;{{plan.planRate}}</div>
                  <div class="user">user/mo</div>
                  <div class="users">{{plan.users}} Active Users</div>
                </div>

                <ion-button expand="block" color="warning" style="font-size: 14px;">Continue</ion-button>

                <ul class="custom-list">
                  <li *ngFor="let item of plan.features">
                    <span class="custom-icon">
                      <ion-icon name="checkmark-circle" *ngIf="item.accessible" color="warning"></ion-icon>
                      <ion-icon name="close-circle" *ngIf="!item.accessible" color="danger"></ion-icon>
                    </span>
                    {{item.feature}}
                  </li>
                </ul>

              </div>

          </ion-card>
        </div>

        <!-- card find a partner -->
        <ion-card class="ion-padding ion-text-center">

            <ion-card-title>Need help in finding a partner?</ion-card-title>


            <div style="font-size: 14px; padding-top: 16px;">
              Talk with Hamrovivah team to get help in finding a perfect match for you
            </div>
            <br>
            <ion-button color="secondary">
              <ion-icon name="call"></ion-icon>&nbsp;Call Us
            </ion-button>
            <br>
            <ion-button color="secondary">
              <ion-icon name="logo-whatsapp"></ion-icon>&nbsp;Whatsapp Us
            </ion-button>

        </ion-card>

        <!-- faq -->
        <p class="head-cls">Frequently asked questions</p>
        <ion-list>
          <!-- FAQ items -->
          <ng-container *ngFor="let faq of faqs">
            <ion-item (click)="toggleAnswer(faq)" [lines]="faq.showAnswer ? 'none' : 'full'">
              <!-- Question -->
              <ion-label class="qns">{{ faq.question }}</ion-label>
              <!-- Arrow icon -->
              <ion-icon slot="end" name="chevron-down" *ngIf="!faq.showAnswer"></ion-icon>
              <ion-icon slot="end" name="chevron-up" *ngIf="faq.showAnswer"></ion-icon>
            </ion-item>
            <!-- Answer -->
            <ion-item *ngIf="faq.showAnswer">
              <ion-label class="answrs">{{ faq.answer }}</ion-label>
            </ion-item>
          </ng-container>
        </ion-list>

      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button routerLink="/home-page">
          <ion-icon name="home-outline"></ion-icon>
          <!-- <ion-label>Home</ion-label> -->
        </ion-tab-button>

        <ion-tab-button routerLink="/search-partner">
          <ion-icon name="search-outline"></ion-icon>
          <!-- <ion-label>Home</ion-label> -->
        </ion-tab-button>

        <ion-tab-button routerLink="/matches-page">
          <ion-icon name="people-outline"></ion-icon>
          <!-- <ion-label>Home</ion-label> -->
        </ion-tab-button>

        <ion-tab-button routerLink="/matches">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <!-- <ion-label>Home</ion-label> -->
        </ion-tab-button>

        <ion-tab-button routerLink="/premium">
          <ion-icon name="diamond-outline" class="activeTab"></ion-icon>
          <!-- <ion-label>Home</ion-label> -->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>
