.my-profile{
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  padding-left: 20px;
}
.content{
  background-color: #FF7F50;
}
.image-card {
  position: relative;
  overflow: hidden; /* Ensure the image stays within the circular border */
border-radius: 15px;
}

.rounded-image {
  width: 100%; /* Ensure the image fills the circular card */
  height: auto; /* Maintain aspect ratio */
}
.right-sec{
  text-align: end;
  font-size: 24px;
  margin-top: 10px;
}

.customBtn{
  text-transform: none;
  width: 40%;
  font-size: 16px
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px 0 16px;
}

.image-container {
  margin-left: 10px; /* Adjust spacing between image and text */
}

.image-container img {
  width: 96px;
  height: 96px;
}

.text-container {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.customButton{
  text-transform: none;
  width: 90%;
  margin-bottom: 16px;
  font-size: 18px;
}
.matches-head{
  font-weight: bold;
  font-size: 14px;
}
.seeAll{
  margin-top: 10px;
}
.slideshow-container{
  height: 195px;
}
.complete-profile{
  font-weight: bold;
  font-size: 14px;
  color: black;
}
.custBtn{
  width: 70%;
  text-transform: none;
}
ion-content{
  padding-bottom: 56px;
}

.scroller-container{
  padding-top: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card1 {
    display: inline-block;
    margin-right: 16px;
  }
}
.activeTab{
  background-color: #FF7F50;
  border-radius: 50%;
  padding: 8px;
  color: white;
}
li{
  font-size: 14px;
}
.photo-stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 257px; /* Adjust height as needed */
}

.photo {
  position: absolute;
  transition: transform 0.5s ease;
}

.left {
  transform: translateX(-50%);
  z-index: 1;
  height: 99%;
}

.center {
  z-index: 2;
}

.right {
  transform: translateX(50%);
  z-index: 1;
  height: 99%;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px; /* Adjust border radius as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow for better visual */
}
