<!-- show notice , you have setup your profile  -->

<!-- text and button to navigate to /profilesetup -->

<ion-card style="box-shadow: 0px;">
  <ion-card-header>
    <ion-card-title class="ion-text-center">Notice</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      You have not setup your profile yet. Please setup your profile to get
      better matches.
    </p>
    <ion-button expand="block" color="danger" routerLink="/profilestup">
      Setup Profile
    </ion-button>
  </ion-card-content>
</ion-card>