<!-- profile list row -->

<div>
  <div class="heading-text">
    <h5>
      People You May Like
    </h5>

    <ion-button fill="icon-only" size="small"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of profiles" size="6">
        <div routerLink="/profile/sachin">
          <ion-card>
            <img alt="Silhouette of mountains" style="width: 100%;" src="{{item.proifleImage}}" />
            <ion-card-header>
              <ion-card-title class="profile-name-text">{{item.Data.inputValue}}</ion-card-title>
              <ion-card-subtitle>{{item.Data.inputValue}}</ion-card-subtitle>
              <ion-card-subtitle>{{item.Data.inputValue}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              {{item.Religion}}, {{item.Address}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>