<!-- profile list row -->

<div>
  <div class="heading-text">
    <h5>
      {{heading}}
    </h5>

    <ion-button *ngIf="showMoreBtn" fill="icon-only" size="small"><ion-icon
        name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of profiles" size="6">
        <div routerLink="/profile/{{item.id}}">
          <ion-card>
            <ion-img style="width: 100%;height: 150px;object-fit:fill;"
              src="{{item?.proifleImage !== null ?item?.proifleImage: '/assets/user.png' }}" />
            <ion-card-header>
              <ion-card-title class="profile-name-text">
                {{getInputvalueByTagname('fullname', this.item.forms)}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{item.forms[0]?.Inputs[1]?.Values?.inputValue}}
              <span
                *ngIf="item.forms[0]?.Inputs[2]?.Values?.inputValue != null && item.forms[0]?.Inputs[1]?.Values?.inputValue !=''">,</span>
              {{item.forms[0]?.Inputs[2]?.Values?.inputValue}}
              <span *ngIf="item.forms[0]?.Inputs[3]?.Values?.inputValue != null">,</span>
              {{item.forms[0]?.Inputs[3]?.Values?.inputValue}}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>