<ion-content [fullscreen]="true">
  <div style="background-image: url(assets/images/welcome.jpeg); background-size: contain;background-repeat: no-repeat;">
    <div class="my-profile">

    </div>
    <div style="padding-left: 25px; padding-right: 25px; border-top-left-radius: 15px; border-top-right-radius: 15px; background-color: white; border-top: 0.5px solid #FF7F50; height: 35vh;">
      <div class="ion-text-center" style=" align-items: center;">
          <br>
          <p class="head-sec">Find your life partner</p>
          <p class="sec">Hamrovivah helps you to find a genuine partner for you</p>
        <ion-button shape="round" class="customBtn">Get Started</ion-button>
      </div>
    </div>
  </div>
</ion-content>
