<ion-content>
  <ion-card class="fullheight xc">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Success</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <img src="/assets/success.gif" alt="">
      <p>Thank you for your submission</p>
      <p>
        Your form has been submitted successfully. You will be notified when your form has been approved.
      </p>
      <ion-button expand="block" class="ion-margin" routerLink="/">
        <!-- send icon -->
        Home
        <ion-icon name="send-outline" slot="start"></ion-icon>

      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>