<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="" *ngIf="!isLoading">{{form.name}}</ion-title>
    <ion-title *ngIf="isLoading">
      <ion-skeleton-text [animated]="true" style="width:100%;height: 25px;"></ion-skeleton-text>
    </ion-title>
    <ion-progress-bar [value]="getPercentage()"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item-group>
    <form [formGroup]="dynamicForm" (ngsubmit)="submit()" *ngIf="dynamicForm">
      <ion-card *ngIf="formId=='unfilled' && form.Inputs.length>0" color="medium">
        <ion-card-content>
          <p class="ion-text-center" style="font-size: 12px;">
            <ion-text>
              You are very close to complete your profile setup.
              <br>
              Please fill the following details to complete your
              profile
            </ion-text>
          </p>
        </ion-card-content>

      </ion-card>
      <ion-card *ngIf="formId=='unfilled' && form.Inputs.length==0" color="medium">
        <ion-card-content>
          <p class="ion-text-center" style="font-size: 12px;">
            <ion-text>
              You have completed your profile setup.
              <br>
              Please click on the button below to Finish
            </ion-text>
          </p>
        </ion-card-content>

      </ion-card>


      <!-- Upload Profile Pic -->
      <ion-card class="ion-text-center" *ngIf="formId== 0">
        <ion-card-header>
          <ion-card-title>Upload Profile Pic</ion-card-title>
          <p>
            Please upload your profile picture
          </p>
        </ion-card-header>
        <ion-card-content>

          <ion-avatar style="margin: 0 auto;width: 100px; height: 100px;">
            <ion-img src="{{api+userProfilePic}}" alt="" *ngIf="userProfilePic != ''" />
            <img src="/assets/user.png" alt="" *ngIf="userProfilePic == ''">
          </ion-avatar>
          <ion-button color="icon-only" (click)="changeProfilePic()">
            Change
          </ion-button>
        </ion-card-content>
      </ion-card>
      <!-- change btn -->

      <ion-item *ngFor="let item of form.Inputs" class="ion-margin">
        <div [formGroup]="dynamicForm">
          <ion-label position="floating">{{item.inputName}}</ion-label>
          <ion-input formControlName="{{item.id}}" type="{{item.inputType}}" required="{{item.inputRequired}}"
            *ngIf="item.inputType == 'text' || item.inputType == 'number' || item.inputType == 'email' || item.inputType == 'date'"
            value="{{item.Values?.inputValue}}"></ion-input>
          <ion-select value="{{item.Values?.inputValue}}" formControlName="{{item.id}}"
            *ngIf="item.inputType == 'select'">
            <ion-select-option *ngFor="let option of item.inputOptions"
              value="{{option.value}}">{{option.label}}</ion-select-option>
          </ion-select>
        </div>
      </ion-item>
      <!-- skeletons -->

    </form>
    <div *ngIf="isLoading">
      <ion-card class="ion-text-center" *ngIf="formId== 0 && isLoading">
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text [animated]="true" style="width:100%;height: 30px;"></ion-skeleton-text>
          </ion-card-title>
          <p>
            <ion-skeleton-text [animated]="true" style="width:100%;height: 10px;"></ion-skeleton-text>
          </p>
        </ion-card-header>
        <ion-card-content>

          <ion-avatar style="margin: 0 auto;width: 100px; height: 100px;">
            <!-- <img src="{{userProfilePic}}" alt="" *ngIf="userProfilePic != ''">
            <img src="/assets/user.png" alt="" *ngIf="userProfilePic == ''"> -->
            <ion-skeleton-text [animated]="true" style="width:100%;height: 100px;"></ion-skeleton-text>
          </ion-avatar>
          <ion-button color="icon-only">
            <ion-skeleton-text [animated]="true" style="width:100px;height: 30px;"></ion-skeleton-text>
          </ion-button>
        </ion-card-content>
      </ion-card>
      <ion-item *ngFor="let ske of skeletons">
        <ion-skeleton-text [animated]="true" style="width:100%;height: 30px;margin-bottom: 10px;"></ion-skeleton-text>
      </ion-item>

    </div>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="icon-only"
      *ngIf="!isLastForm && formId!='unfilled' && formId!=0 && formId!= 'partner'"
      (click)="skip()">{{skipText}}</ion-button>
    <ion-button expand="block" color="success" (click)="submit()">{{btnText}}</ion-button>

  </ion-toolbar>
</ion-footer>