<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profilestup"></ion-back-button>
    </ion-buttons>
    <ion-title class=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>
    Q.1 What is your age?
  </h2>
  <ion-item>
    <ion-label position="floating">Age</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <!-- next    -->
  <ion-button expand="block" routerLink="/profilestup/questions/2">Next</ion-button>
</ion-content>