<ion-content [fullscreen]="true">
  <div class="content">
    <div class="my-profile">
      <div class="my-profile-content">
        <!-- back button -->
        <ion-icon slot="icon-only" name="arrow-back-outline" (click)="onBack()"></ion-icon>
      </div>
    </div>
    <div class="curved-div" *ngIf="!!likedUsers">
      <div class="scrollable-content ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let profileData of likedUsers">
              <!-- profile picture and username -->
              <ion-card class="user-card">

                  <div class="dots-button">
                    <ion-icon name="ellipsis-vertical"></ion-icon>
                  </div>
                <!-- Background Image -->
                <div routerLink="/profile-page/{{profileData.id}}" class="card-background"
                  [style.backgroundImage]="'url(' + profileData.proifleImage + ')'"></div>

                <!-- User Details -->
                <div class="details">
                  <div routerLink="/profile-page/{{profileData.id}}" class="left-bottom">
                    <div class="name">{{ getName(profileData.forms) }}</div>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
