<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="" *ngIf="!isLoading">{{findInputByTag('fullname')}}</ion-title>
    <ion-skeleton-text [animated]="true" *ngIf="isLoading"
      style="width: 70%;height: 20px;border-radius: 10px;"></ion-skeleton-text>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-img style="width: 100%;height: 250px;object-fit: fill;" *ngIf="!isLoading"
            [src]="profileData?.profile?.proifleImage"></ion-img>
          <ion-skeleton-text [animated]="true" *ngIf="isLoading"
            style="width: 100%;height: 200px;border-radius: 10px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div class="ion-text-center">
    <ion-icon *ngIf="!isLoading" name="navigate-circle-outline"></ion-icon>
    <span *ngIf="!isLoading" routerLink="/photos/{{profileData.profile.id}}/name/{{profileData.forms[0].Inputs[0].Values
      .inputValue}}">
      View Photos
    </span>
  </div> -->


  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button color="primary" fill="" expand="block" (click)="likeAuser()">
            <ion-skeleton-text *ngIf="isLoading" [animated]="true"
              style="width: 100%;height: 30px;"></ion-skeleton-text>
            <div *ngIf="!liked">
              <ion-icon name="heart-outline"></ion-icon>
              <ion-text>
                Like
              </ion-text>
            </div>

            <div *ngIf="liked">
              <ion-icon name="heart"></ion-icon>
              <ion-text>
                Like
              </ion-text>
            </div>

          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button fill="" color="primary" expand="block">
            <ion-skeleton-text *ngIf="isLoading" [animated]="true"
              style="width: 100%;height: 30px;"></ion-skeleton-text>

            <ion-icon *ngIf="!isLoading" name="navigate-circle-outline"></ion-icon>
            <ion-text *ngIf="!isLoading" routerLink="/photos/{{profileData?.profile?.id+'/name/'+profileData?.forms[0]?.Inputs[0]?.Values
            ?.inputValue}}">
              Photos
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button fill="" color="primary" expand="block">
            <ion-skeleton-text *ngIf="isLoading" [animated]="true"
              style="width: 100%;height: 30px;"></ion-skeleton-text>
            <ion-icon *ngIf="!isLoading" name="call-outline"></ion-icon>
            <ion-text *ngIf="!isLoading">
              Contact
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <!-- basic details section -->
    <!-- Full Name , Age , Height, Colour,Profession -->
    <ion-grid *ngIf="isLoading">
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                style="width: 80%;height: 30px;"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="isLoading">
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                style="width: 80%;height: 30px;"></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="6">
                    <ion-skeleton-text *ngIf="isLoading" [animated]="true"
                      style="width: 80%;height: 20px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngFor="let form of profileData.forms">
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{form.name}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngFor="let input of form.Inputs">
                  <ion-col size="6" *ngIf="input?.Values?.inputValue != null">
                    <ion-label>{{input.inputName}}</ion-label>
                  </ion-col>
                  <ion-col size="6" *ngIf="input?.Values?.inputValue != null">
                    <ion-label *ngIf="input.inputType!='file'">{{input.Values.inputValue}}</ion-label>
                    <ion-button (click)="openLink(input?.Values?.inputValue)" size="small"
                      *ngIf="input.inputType=='file'">
                      <ion-icon name="open"></ion-icon>
                      Open </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="callus()">
      <ion-icon name="call-outline" style="margin: 0px 5px;"></ion-icon>
      Contact
    </ion-button>
  </ion-fab> -->
</ion-content>