.preview-img {
    width: 100% !important;
    height: 150px !important;
    object-fit: cover;
}

.hide {
    display: none;
}

.view-img-modal-cont {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

.img-view-footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.img-view-footer ion-buttons {
    --background: transparent !important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}