<ion-content [fullscreen]="true">
  <swiper-container pager="true" autoplay [pagination]="true" [loop]="false" #swiper>
    <swiper-slide>
      <div class="onboard-cont">
        <img src="assets/images/wedding2.jpg" alt="">
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="login-box">
    <h4 class="ion-text-center">
      Login to continue
    </h4>
    <div *ngIf="!showOtpBox">
      <ion-item>
        <label (click)="OpenSelectCountryModel()" size="medium" color="icon-only"
          class="ion-no-padding country-select-btn">
          {{ selectedCountriesText }}
        </label>
        <ion-input type="text" [autofocus]="true" [(ngModel)]="userMobileNumber" placeholder="980 XX XX "
          style="width:75%;margin-left: 2px;"></ion-input>

      </ion-item>
      <p class="ion-text-center">
        Your will receive an OTP on this number
      </p>

      <ion-row center>
        <ion-col class="ion-text-center">
          <ion-button color="danger" (click)="loginwithmobile()">
            Send OTP
            <ion-icon name="send-outline" style="margin-left: 3px;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </div>

    <div class="otpcont" *ngIf="showOtpBox">
      <div style="padding: 10px;">
        <p style="font-size: 15px;color: green;">
          Enter the 6 digit OTP sent to your mobile number
        </p>
      </div>
      <ion-item lines="inset">
        <ion-input type="text" [(ngModel)]="userOtp" placeholder="Enter OTP"></ion-input>

      </ion-item>



      <ion-row center>
        <ion-col class="ion-text-center">
          <ion-button color="success" (click)="loginwithotp()">
            Verify OTP
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- resend otp -->
      <p size="small" fill="icon-only" class="ion-margin" (click)="resend()">
        Re-Send OTP
        <!-- re icon -->

        <ion-icon name="reload-outline"></ion-icon>


      </p>
    </div>
  </div>
</ion-content>

<ion-modal trigger="select-country" #modal>
  <ng-template>
    <app-countryselect class="ion-page" title="" [items]="countries" [selectedItems]="selectedCountries"
      (selectionChange)="countrySelectionChange($event)" (selectionCancel)="modal.dismiss()"></app-countryselect>
  </ng-template>
</ion-modal>