ion-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.country-select-btn {
    --box-shadow: none;
}

.otpcont {
    text-align: center;
}

ion-footer {
    background-color: #fff;
}

// for dark mode

@media screen and (prefers-color-scheme: dark) {
    ion-footer {
        background-color: #1E1E1E;
    }
}