<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="">Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- logo box -->
  <div class="ion-text-center ion-padding">
    <img src="assets/logo.png" alt="HamroVivah" />
  </div>
  <!-- title text -->
  <div class="ion-text-center">
    <h5>
      Signup and get started
    </h5>
  </div>

  <!-- login box emial and password -->

  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item [button]="true" [detail]="false" id="select-fruits">
      <ion-label>Country</ion-label>
      <div slot="end" id="selected-fruits">{{ selectedFruitsText }}</div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>


    <ion-button expand="block">Sign Up</ion-button>

    <div class="ion-text-center">
      <p>
        Already have an account? <a routerLink="/login">Login</a>
      </p>
    </div>
  </div>

  <!-- social login -->

  <div class="ion-padding">
    <!-- use utton group and heading -->
    <h5 class="ion-text-center">
      Signup with
    </h5>

    <ion-button expand="block" color="danger">
      <ion-icon name="logo-google"></ion-icon>
      Google

    </ion-button>

    <ion-button expand="block" color="primary">
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook

    </ion-button>
  </div>

</ion-content>