<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-homemenu></app-homemenu>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
        </ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button><ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- <div>
    <h1 class="heading-text ion-text-center">Find The Perfect Partner for you and your family</h1>
    <app-profilesearch style="width: 100%;" sticky></app-profilesearch>
  </div> -->


  <app-noticebox></app-noticebox>
  <div class="ion-text-center">
    <ion-chip color="primary">
      <ion-label>Age</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <ion-chip color="primary">
      <ion-label>Height</ion-label>

    </ion-chip>

    <ion-chip color="primary">
      <ion-label>Religion</ion-label>

    </ion-chip>

    <ion-chip color="primary">
      <ion-label>City</ion-label>

    </ion-chip>

    <ion-chip color="primary">
      <ion-label>Work</ion-label>
    </ion-chip>
  </div>

  <div class="main-content" class="ion-padding">
    <app-profilelist></app-profilelist>

    <app-profilelist></app-profilelist>
  </div>

</ion-content>