<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603816234177-pubgltk78pemf7jpoa6l5p1ji24f72tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603816234177-pubgltk78pemf7jpoa6l5p1ji24f72tn</string>
	<key>API_KEY</key>
	<string>AIzaSyDOPoOXGziBZfaP9afVpJ7sr86LP1Qj3nA</string>
	<key>GCM_SENDER_ID</key>
	<string>603816234177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamrovivah.app</string>
	<key>PROJECT_ID</key>
	<string>hamrovivah-62c07</string>
	<key>STORAGE_BUCKET</key>
	<string>hamrovivah-62c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603816234177:ios:8c7126f73c9eec11a01840</string>
</dict>
</plist>